<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rupizzeria">

    <application
        android:allowBackup="true"
        android:icon="@drawable/pizzaicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pizzaicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.RUPizzeria">
        <activity
            android:name=".Activity.StoreActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CartCustomizationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>